{% extends 'shared/base.html' %}
{% load static %}

{% block content %}
    {% comment %} {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %} {% endcomment %}

    <h3 class="page-header">Register</h3>
    <div class="form-div">
        <form class="form" action="{% url 'aztripplannerapp:register' %}" method="post">
            {% csrf_token %}

                <div class="input-div">
                    <label for="username">Username: </label>
                    <input id="username" type="text" name="username">
                </div>

                <div class="input-div">
                    <label for="password">Password: </label>
                    <input id="password" type="password" name="password">
                </div>

                <div class="input-div">
                    <label for="password_confirmation">Password Confirmation: </label>
                    <input id="password_confirmation" type="password" name="password_confirmation">
                </div>

                <div class="form-button-container">
                    <button type="submit" class="waves-effect waves-light btn" value="Submit">Register</button>
                </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'scripts/base.js' %}"></script>
{% endblock scripts %}