{% extends 'shared/base.html' %}

{% block content %}
    {% for hotspot in itinerary_hotspots %}
    <li>{{hotspot.notes}}</li>
    {% endfor %}
    {% comment %} <section id="itinerary-details">
        <h1>{{ itinerary.name }}</h1>
          <li class="hotspot">
            <a class="hotspot__name" href="{% url 'aztripplannerapp:hotspot' hotspot.id %}">
             {{ hotspot.name }}
            </a>
            <div class="hotspot__image">
                {{hotspot.image}}
            </div>
            <p class="hotspot__description">
                DESCRIPTION: {{hotspot.description}}
            </p>
            <p class="hotspot__activities">
                THINGS TO DO HERE: {{hotspot.activities}}
            </p>
            <p class="hotspot__websiteurl">WEBSITE: 
                {{hotspot.websiteurl}}
            </p>
        </li>
    </section> {% endcomment %}
{% endblock %}
