{% extends 'shared/base.html' %}

{% block content %}
    {% for hotspot in itinerary_hotspots %}
    <li>{{hotspot.notes}}</li>
    {% endfor %}
    <section id="itinerary-details">
        <h1>{{ itinerary.name }}</h1>
        <form action="{% url 'aztripplannerapp:userhotspots' %}" method="post">
        <fieldset>
          <label for="hotspot_id">Choose A Hotspot: </label>
            <select id="hotspot_id" name="hotspot_id">
                {% for hotspot in all_hotspots %}
                    <option value="{{ hotspot.id }}">{{hotspot.name}}</option>
                {% endfor %}
            </select>
    {% csrf_token %}
          <input hidden value='{{ itinerary.id }}' name='itinerary_id'/>
          <input hidden value='EXISTING_HOTSPOT' name='conditional'/>
          <input type="submit" value="Add" />
        </fieldset>
        </form>
    </section>
{% endblock %}
