{% extends 'shared/base.html' %}
{% load static %}

{% block content %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h3 class="page-header">Register</h3>
        <form class="form" action="{% url 'aztripplannerapp:register' %}" method="POST">
        {% csrf_token %}
            <fieldset>
                    <label for="username">Username: </label>
                    <input id="username" type="text" name="username">
            </fieldset>

            <fieldset>
                    <label for="password">Password: </label>
                    <input id="password" type="password" name="password">
            </fieldset>

            <fieldset>
                <label for="password_confirmation">Password Confirmation: </label>
                <input id="password_confirmation" type="password" name="password_confirmation">
            </fieldset>
                <button type="submit" class="register_btn" value="Submit">Register</button>
        </form>
{% endblock %}

{% block scripts %}
    <script src="{% static 'scripts/base.js' %}"></script>
{% endblock scripts %}