{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/hotspots.css' %}" />
{% endblock %}

{% block content %}
    <h1>HotsPots</h1>

    <dialog class="infoDialog">
        <div class="infoDialog__message"></div>
        <button class="closeDialog">Close</button>
    </dialog>

    <a href="{% url 'aztripplannerapp:userhotspots_form' %}">Add Your Own HotsPot!</a>

    <ol class="hotspots">
    {% for hotspots in all_hotspots %}
        <li class="hotspot">
            <a class="hotspot__name" href="{% url 'aztripplannerapp:hotspot' hotspot.id %}">
             {{ hotspot.name }}
            </a>
            <div class="hotspot__image">
                {{hotspot.image}}
            </div>
            <div class="hotspot__description">
                {{hotspot.description}}
            </div>
            <div class="hotspot__activities">
                Things To Do Here:{{hotspot.activities}}
            </div>
            <div class="hotspot__websiteurl">
                {{hotspot.websiteurl}}
            </div>
            <button id="detail--{{ hotspot.id }}">Details</button>
        </li>
    {% endfor %}
    </ol>
{% endblock %}

{% block scripts %}
    <script src="{% static 'scripts/hotspots.js' %}"></script>
{% endblock %}
