{% extends 'shared/base.html' %}

{% block content %}
    <section id="userhotspot-details">
        <h1>{{ hotspot.name }}</h1>
        <h2>{{ hotspot.image }}</h2>

        <div>DESCRIPTION: {{ hotspot.description }}</div>
        <div>BEEN THERE DONE THAT? {{ userhotspot.visited }}</div>
        <div>NOTES: {{ userhotspot.notes }}</div>
    </section>

    {% comment %} <select id="itinerary_id" name="itinerary_id">add to itinerary...</select>
    {% for itinerary in itineraries %}
        <option value="{{intinerary.id}}">{{itinerary.name}}</option>
    {% endfor %} {% endcomment %}

    {% comment %} <form action="{% url 'aztripplannerapp:userhotspot_details' userhotspot.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="actual_method" value="DELETE">
        <button>Delete</button>
    </form> {% endcomment %}

    <form action="{% url 'aztripplannerapp:userhotspot_details' userhotspot.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="actual_method" value="DELETE">
        <button>Delete</button>
    </form>

    <form action="{% url 'aztripplannerapp:userhotspots_edit_form' userhotspot.id %}" method="GET">
        {% csrf_token %}
        <button>Edit</button>
    </form>
{% endblock %}
