{% extends 'shared/base.html' %}

{% block content %}
    <section id="userhotspot-details">
        <h1>{{ hotspot.name }}</h1>
        <h2>{{ hotspot.image }}</h2>

        <div>Description: {{ hotspot.description }}</div>
        <div>Been There {{ userhotspot.visited }}</div>
        <div>Notes {{ userhotspot.notes }}</div>
    </section>

    <select id="itinerary_id" name="itinerary_id">add to itinerary...</select>
    {% for itinerary in itineraries %}
        <option value="{{intinerary.id}}">{{itinerary.name}}</option>
    {% endfor %}

    <form action="{% url 'aztripplannerapp:hotspot' hotspot.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="actual_method" value="DELETE">
        <button>Delete</button>
    </form>

    <form action="{% url 'aztripplannerapp:hotspot_edit_form' hotspot.id %}" method="GET">
        {% csrf_token %}
        <button>Edit</button>
    </form>
{% endblock %}
