{% extends 'shared/base.html' %}

{% block content %}
    <h1>Your Hot Spots</h1>


    {% if userhotspot.id is not None %}
        <form action="{% url 'aztripplannerapp:userhotspot' userhotspot.id %}" method="post">
          <input type="hidden" name="actual_method" value="PUT">
    {% else %}
        <form action="{% url 'aztripplannerapp:userhotspots' %}" method="post">
    {% endif %}
      {% csrf_token %}
      <fieldset>
          <label for="visited">Been there?: </label>
          <select id="visited" name="visited">
            <option value=True>Yes!</option>
            <option value=False>No☹️</option>
          </select>
      </fieldset>
      <fieldset>
          <label for="notes">Notes: </label>
          <input id="notes" type="textarea" name="notes"  value="{{userhotspot.notes}}">
      </fieldset>
      {% comment %} <fieldset>
          <label for="itinerary">Itinerary: </label>
          <select id="itinerary_id" name="itinerary_id">
                {% for itinerary in user_itineraries %}
                    <option  
                    value="{{ itinerary.id }}">{{itinerary.name}}</option>
                {% endfor %}
          </select>
      </fieldset> {% endcomment %}

      <input type="submit" value="Submit" />
    </form>
{% endblock %}
