{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/userhotspots.css' %}" />
{% endblock %}

{% block content %}
    <h1>Your HotsPots</h1>

    <dialog class="infoDialog">
        <div class="infoDialog__message"></div>
        <button class="closeDialog">Close</button>
    </dialog>

    <a href="{% url 'aztripplannerapp:userhotspot_form' %}">Add New HotsPot</a>

    <ol class="userhotspots">
    {% for userhotspots in all_userhotspots %}
        <li class="userhotspots">
            <a class="userhotspots__name" href="{% url 'aztripplannerapp:hotspot' userhotspots.id %}">
             Name: {{ userhotspots.name }}
            </a>
            <div class="userhotspots__image">
                {{userhotspots.image}}
            </div>
            <div class="userhotspots__description">
                {{userhotspots.description}}
            </div>
            <div class="userhotspots__activities">
                Things To Do Here: {{userhotspots.activities}}
            </div>
            <div class="userhotspots__websiteurl">
                {{userhotspots.websiteurl}}
            </div>
            <button id="detail--{{ userhotspots.id }}">Details</button>
        </li>
        <br>
    {% endfor %}
    </ol>
{% endblock %}

{% block scripts %}
    <script src="{% static 'scripts/userhotspots.js' %}"></script>
{% endblock %}