{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/userhotspots.css' %}" />
{% endblock %}

{% block content %}
    <h1>Your HotsPots</h1>

    <dialog class="infoDialog">
        <div class="infoDialog__message"></div>
        <button class="closeDialog">Close</button>
    </dialog>

    <a href="{% url 'aztripplannerapp:userhotspot_form' %}">Add New HotsPot</a>

    <ol class="userhotspots">
    {% for userhotspot in all_userhotspots %}
    {% comment %} {%  for hotspot in all_hotspots %} {% endcomment %}
        <li class="userhotspot">
            <a class="userhotspots__name" href="{% url 'aztripplannerapp:hotspot' userhotspot.id %}">
                 {{ userhotspot.hotspot.name }}
            </a>
            {% comment %} <div class="hotspot__image">
                {{hotspot.image}}
            </div> {% endcomment %}
            <p class="hotspot__description">
                DESCRIPTION: {{userhotspot.hotspot.description}}
            </p>
            <p class="hotspot__activities">
                THINGS TO DO HERE: {{userhotspot.hotspot.activities}}
            </p>
            <p class="hotspot__visited">
                BEEN THERE DONE THAT? {{userhotspot.visited}}
            <p class="userhotspot__notes">NOTES: 
                {{userhotspot.notes}}
            </p>
        </li>
        <br>
    {% endfor %}
    </ol>
    {% comment %} <form action="{% url 'aztripplannerapp:book_edit_form' book.id %}" method="GET">
        {% csrf_token %}
        <button>Edit</button>
    </form> {% endcomment %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'scripts/userhotspots.js' %}"></script>
{% endblock %}